<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Concert+One&display=swap" rel="stylesheet">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <div class="card mb-3" style="max-width: 80%;">
        <div class="row g-0" id="detail-card">
            <div class="col-md-4 detail-img-container">
                <img src=" <%= image %> " class="img-fluid rounded-start detail-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <% if (!favoriteEntry) { %> 
                        <form action="/favorite" method="POST">
                            <input id="fav-gameId" name="gameId" type="number" hidden value="<%= id %>">
                            <input id="fav-gameName" name="gameName" type="text" hidden value="<%= name %>">
                            <input id="fav-gameImg" name="gameImg" type="text" hidden value="<%= image %>">
                            <button type="submit" class="add-fav-btn"><i class="fas fa-heart fa-2x"></i></button>
                        </form>
                    <% } else { %>
                        <form class="fav-delete-btn-form" action="/favorite/<%= favoriteEntry._id %>?_method=DELETE" class="delete-form" method="POST">
                            <input name="next" value="/boardgames/<%= id %>" hidden>
                            <input id="fav-gameName" name="gameName" type="text" hidden value="<%= name %>">
                            <input id="fav-gameImg" name="gameImg" type="text" hidden value="<%= image %>">
                            <button type="submit" class="remove-fav-btn"><i class="fas fa-heart fa-2x"></i></button>
                        </form>
                    <% } %> 
                    <h5 class="card-title detail-title"><%= name %></h5>
                    <p class="card-text"><small class="text-muted">Published In : <%= yearpublished %> </small></p>
                    <p class="card-text"><small class="text-muted">Designers: 
                        <% designers.forEach(designer => { %>
                            <span><%= designer.$.value %>, </span>
                        <% }); %> 
                    </small></p>
                    <p class="card-text"><small class="text-muted"> Categories: 
                        <% categories.forEach(category => { %>
                            <span>#<%= category.$.value %> </span>
                        <% }); %> 
                    </small></p>
                    <p class="card-text detail-description description-newline"><%= description %></p>

                </div>
            </div>
        </div>
    </div>

    <section class="review-container">
        <h2 class="detail-review-title">REVIEWS</h2>
        <form 
            id="add-review-form"
            action="/boardgames/<%= id %>/reviews"
            method="POST"
        >
            <label for="content-textarea"></label>
            <textarea name="content" id="content-textarea" placeholder="Enter your review here..."></textarea>
            <div class="rating-save">
                <div class="rating-cont">
                    <div class="rating-star">
                        <input type="radio" name="rating" id="rate-5" value="5" class="rate-input">
                        <label for="rate-5" class="fas fa-star rate-label"></label>
                        <input type="radio" name="rating" id="rate-4" value="4" class="rate-input">
                        <label for="rate-4" class="fas fa-star rate-label"></label>
                        <input type="radio" name="rating" id="rate-3" value="3" class="rate-input">
                        <label for="rate-3" class="fas fa-star rate-label"></label>
                        <input type="radio" name="rating" id="rate-2" value="2" class="rate-input">
                        <label for="rate-2" class="fas fa-star rate-label"></label>
                        <input type="radio" name="rating" id="rate-1" value="1" class="rate-input">
                        <label for="rate-1" class="fas fa-star rate-label"></label>
                    </div>
                </div>
                <input type="number" hidden name="gameId" value="<%= id %>">
                <input type="text" name="user" hidden value="<%= user %>">
                <button type="submit" id="review-btn">Save</button>
            </div>
        </form>
    </section>
        <% if (reviews.length) { %>
            <table class="table review-table">
                <thead>
                    <tr>
                        <th>Rating</th>
                        <th>Date</th>
                        <th>Review</th>
                    </tr>
                </thead>
                <tbody>
                    <% let total = 0 %>
                    <% reviews.forEach(function(review) { %>
                        <% total += review.rating %>
                    <tr>
                        <td><strong><%= review.rating %></strong></td>
                        <td><%= review.createdAt.toLocaleString() %></td>
                        <td><%= review.content %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <h3>No Reviews Yet</h3>
        <% } %>
</main>

<%- include('../partials/footer') %>