<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1> <%= name %> </h1>
    <form action="/favorite" method="POST">
        <input id="fav-gameId" name="gameId" type="number" hidden value="<%= id %>">
        <input id="fav-gameName" name="gameName" type="text" hidden value="<%= name %>">
        <input id="fav-gameImg" name="gameImg" type="text" hidden value="<%= image %>">
        <button type="submit"><i class="fas fa-heart fa-2x"></i></button>
    </form>
    <p>Published In : <%= yearpublished %> </p>
    <p> Designers: 
        <% designers.forEach(designer => { %>
            <span><%= designer.$.value %>, </span>
        <% }); %> 
    </p>
    <p> Categories: 
        <% categories.forEach(category => { %>
            <span>#<%= category.$.value %> </span>
        <% }); %> 
    </p>
    <img class="game-img" src=" <%= image %> ">
    <p class='description-newline'><%= description %> </p>
</main>

<%- include('../partials/footer') %>