<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <div class="card mb-3" style="max-width: 80%;">
        <div class="row g-0" id="detail-card">
            <div class="col-md-4">
                <img src=" <%= image %> " class="img-fluid rounded-start detail-img">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title detail-title"><%= name %></h5>
                    <p class="card-text"><small class="text-muted">Published In : <%= yearpublished %> </small></p>
                    <p class="card-text"><small class="text-muted">Designers: 
                        <% designers.forEach(designer => { %>
                            <span><%= designer.$.value %>, </span>
                        <% }); %> 
                    </small></p>
                    <p class="card-text"><small class="text-muted"> Categories: 
                        <% categories.forEach(category => { %>
                            <span>#<%= category.$.value %> </span>
                        <% }); %> 
                    </small></p>
                    <p class="card-text detail-description description-newline"><%= description %></p>
                    <form action="/favorite" method="POST">
                        <input id="fav-gameId" name="gameId" type="number" hidden value="<%= id %>">
                        <input id="fav-gameName" name="gameName" type="text" hidden value="<%= name %>">
                        <input id="fav-gameImg" name="gameImg" type="text" hidden value="<%= image %>">
                        <button type="submit" id="add-fav-btn"><i class="fas fa-heart fa-2x"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <h2>Reviews</h2>
    <form 
        id="add-review-form"
        action="/boardgames/<%= id %>/reviews"
        method="POST"
    >
        <label for="content-textarea">Review:</label>
        <textarea name="content" id="content-textarea"></textarea>
        <label for="rating-select">Rating:</label>
        <select name="rating" id="rating-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
        </select>
        <input type="number" hidden name="gameId" value="<%= id %>">
        <input type="text" name="user" hidden value="<%= user %>">
        <button type="submit">Save</button>
    </form>
    <% if (reviews.length) { %>
        <table>
        <thead>
            <tr>
            <th>Date</th>
            <th>Review</th>
            <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% let total = 0 %>
            <% reviews.forEach(function(review) { %>
                <% total += review.rating %>
            <tr>
                <td><%= review.createdAt.toLocaleDateString() %></td>
                <td><%= review.content %></td>
                <td><%= review.rating %></td>
            </tr>
            <% }) %>
            <tr>
                <td colspan="2"></td>
                <td>
                    <strong><%= (total / reviews.length).toFixed(1) %></strong>
                </td>
            </tr>
        </tbody>
        </table>
    <% } else { %>
        <h3>No Reviews Yet</h3>
    <% } %>
</main>

<%- include('../partials/footer') %>